/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     display: flex;
     flex-direction: column;
     align-items: center;
     color: white;
     background-image: url(../Photos-HD-Galaxy-Backgrounds-Tumblr-991781516.jpg);
     font-family: fantasy, cursive;
     text-shadow: -3px 3px 3px #000;
     padding: 20px 5px;
     font-size: 125%;
 

}

#userInput{
     display: flex;
     flex-direction: column;
     width: 100%;
     padding: 2% 10%;
}

#userInput div{
     margin: 20px 10px;
     display: flex;
     flex-direction: column;
}

#userInput label{
     background-color: black;
     padding: 10px;
}

#userInput input{
     padding: 5px;
}

#displayArea {
     margin-top: 20px;
     width: 300px;
     height: 300px;
     border-radius: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: rgb(36	13	80	);
     border: 1px solid white;

}

#askQuestion {
     padding: 10px 30px;
     border-radius: 8px;
     text-align: center;
     color: white
}


#resultDisplay{
     display: none;
}

#autocomplete-list {
     list-style-type: none;
     background-color: rgba(255,255,255, 0.2);
     /* color: black; */
     width: 100%;
     padding: 0;
     margin: 0;
     border: 1px solid #ccc;
}

#autocomplete-list li {
     padding: 5px;
     cursor: pointer;
}

#autocomplete-list li:hover {
     background-color: #f1f1f1;
}